---
title: >-
description: >-
keywords: >-
image:
layout: default
pagename: bloglist
permalink: /blog
---

            <!-- Form -->
           {% include search-form.html %}

      <div class="container-lg">
        <div class="row mt-n6">
          {% for post in site.tags.blog limit:3 %}

              <div class="col-md-4">
                 {% include postbox.html %}
              </div>
          {% endfor %}
        </div>
      </div>

{% for post in site.tags.featured limit:1 %}

    <!-- Featured Post -->
    <section class="pt-9 pt-md-11 posts">
      <div class="container-lg">
        <div class="row">
          <div class="col-12">
            <!-- Heading -->
            <h6 class="h1 mb-0">
              Featured Post
            </h6>
            <!-- Text -->
            <p class="text-gray-600">
              Seasonal Photo Booth Resource Articles
            </p>
            <!-- Card -->
            <div class="card card-lg rounded-top-start rounded-bottom-end lift lift-lg">
              <div class="row gx-0">
                <div class="col-md-6 bg-cover rounded-top-start my-n2 vh-50 vh-md-75" style="background-image: url({{ post.image }}); background-position: center center;background-size:cover">
                </div>
                <div class="col-md-6">
                  <!-- Body -->
                  <div class="card-body">
                    <!-- Preheading -->
                    <h6 class="font-sans-serif text-primary mb-2">
                      Featured Post
                    </h6>
                    <!-- Heading -->
                    <h2 class="display-4 mb-4">
                      {{ post.title }}
                    </h2>

                    <!-- Text -->
                    <p class="mb-4">
                       {{ post.excerpt | strip_html | truncatewords:15 }}
                    </p>
                    <!-- Link -->
                    <a class="stretched-link" href="{{ post.url | absolute_url }}"></a>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    {% endfor %}

    <!-- USER EXPERIENCE -->
    <section class="pt-9 pt-md-11 posts">
      <div class="container-lg">
        <div class="row align-items-center mb-6">
        {% for post in site.tags.blog offset: continue %}
             <div class="col-md-4">
             {% include postbox.html %}
              </div>
         {% endfor %}
        </div>
      </div>
    </section>

