 <footer class="footer sm:pt-20 pt-12 bg-dark text-white">
    <div class="container flex flex-wrap justify-between gap-10">
        <div class="footer_info md:w-1/4 w-full">
            <h1>
                <a href="index.html" class="footer_logo flex items-center gap-3">
                    <img src="/assets/images/logo_orange.png" class="flex-shrink-0 w-10" alt="logo">
                    <strong class="heading4">Hadiman</strong>
                </a>
            </h1>
            <div class="footer_map mt-7">
                <div class="flex items-center gap-2 pb-2">
                    <span class="ph ph-map-pin text-2xl"></span>
                    <span>268 St, East Chicago, IN 46312, US</span>
                </div>
                <a href="https://maps.app.goo.gl/Y6gQTTNuxhrqbrcX8" class="text-sm font-bold underline duration-300 hover:text-orange" target="_blank">Google map</a>
            </div>
            <div class="footer_mail flex flex-wrap items-center gap-2 mt-4">
                <span class="ph ph-envelope text-2xl"></span>
                <span>hi.avitex@gmail.com</span>
            </div>
            <div class="footer_time mt-4">
                <span class="block pb-1 text-variant2">Opening Times:</span>
                <span>Mon - Fri: 9am - 5pm</span>
                <span>Weekend: 10am - 4pm</span>
            </div>
            <ul class="footer_social flex flex-wrap items-center gap-3 mt-7">
                <li class="social_item">
                    <a href="https://www.messenger.com/"
                        class="social_link flex items-center justify-center w-10 h-10 border border-white border-opacity-10 rounded-full text-white duration-400 hover:bg-white hover:text-orange"
                        target="_blank">
                        <span class="ph ph-messenger-logo text-xl"></span>
                        <span class="blind">link messenger</span>
                    </a>
                </li>
                <li class="social_item">
                    <a href="https://www.x.com/"
                        class="social_link flex items-center justify-center w-10 h-10 border border-white border-opacity-10 rounded-full text-white duration-400 hover:bg-white hover:text-orange"
                        target="_blank">
                        <span class="ph ph-x-logo text-xl"></span>
                        <span class="blind">link x</span>
                    </a>
                </li>
                <li class="social_item">
                    <a href="https://www.instagram.com/"
                        class="social_link flex items-center justify-center w-10 h-10 border border-white border-opacity-10 rounded-full text-white duration-400 hover:bg-white hover:text-orange"
                        target="_blank">
                        <span class="ph ph-instagram-logo text-xl"></span>
                        <span class="blind">link instagram</span>
                    </a>
                </li>
                <li class="social_item">
                    <a href="https://www.skype.com/"
                        class="social_link flex items-center justify-center w-10 h-10 border border-white border-opacity-10 rounded-full text-white duration-400 hover:bg-white hover:text-orange"
                        target="_blank">
                        <span class="ph ph-skype-logo text-xl"></span>
                        <span class="blind">link skype</span>
                    </a>
                </li>
                <li class="social_item">
                    <a href="https://www.telegram.com/"
                        class="social_link flex items-center justify-center w-10 h-10 border border-white border-opacity-10 rounded-full text-white duration-400 hover:bg-white hover:text-orange"
                        target="_blank">
                        <span class="ph ph-telegram-logo text-xl"></span>
                        <span class="blind">link telegram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer_content md:w-2/3 w-full">
            <div class="footer_newsletter flex max-lg:flex-col gap-15 gap-y-6 pb-10 border-b border-white border-opacity-10">
                <h4 class="heading4">Subscribe <br class="max-lg:hidden">Newsletter</h4>
                <div class="w-full">
                    <form class='flex w-full'>
                        <input type="email" placeholder='Enter your e-mail'
                            class='caption1 w-full h-14 px-6 border border-white border-opacity-10 duration-300 focus:border-white'
                            required />
                        <button type="submit" class='btn flex-shrink-0 h-fit hover:bg-white'>Subscribe</button>
                    </form>
                    <p class="mt-4 text-variant2">Sign up to get the latest news and eventsâwe promise no spam.</p>
                </div>
            </div>
            <div class="footer_nav flex max-xl:flex-wrap justify-between gap-10 gap-y-6 mt-10">
                <div class="footer_nav_area max-sm:w-full">
                    <strong class="footer_nav_heading txt-label max-sm:hidden">About</strong>
                    <button type="button" class="footer_nav_btn btn_toggle flex items-center justify-between relative w-full py-2 border-b border-variant1 text-lg font-bold uppercase sm:hidden">
                        <span>About</span>
                        <span class="ph ph-plus"></span>
                        <span class="ph ph-minus absolute top-1/2 right-0 -translate-y-1/2"></span>
                    </button>
                    <ul class="footer_nav_list flex flex-col gap-2 mt-3">
                        <li>
                            <a href="about-us.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">About Us</a>
                        </li>
                        <li>
                            <a href="our-services.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Services</a>
                        </li>
                        <li>
                            <a href="contact.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Contact Us</a>
                        </li>
                        <li>
                            <a href="#!" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_nav_area max-sm:w-full">
                    <strong class="footer_nav_heading txt-label max-sm:hidden">Categories</strong>
                    <button type="button" class="footer_nav_btn btn_toggle flex items-center justify-between relative w-full py-2 border-b border-variant1 text-lg font-bold uppercase sm:hidden">
                        <span>Categories</span>
                        <span class="ph ph-plus"></span>
                        <span class="ph ph-minus absolute top-1/2 right-0 -translate-y-1/2"></span>
                    </button>
                    <ul class="footer_nav_list flex flex-col gap-2 mt-3">
                        <li>
                            <a href="services-detail.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Renovation Services</a>
                        </li>
                        <li>
                            <a href="services-detail.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Electrical Services</a>
                        </li>
                        <li>
                            <a href="services-detail.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Plumbing Services</a>
                        </li>
                        <li>
                            <a href="services-detail.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">HVAC Services</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_nav_area max-sm:w-full">
                    <strong class="footer_nav_heading txt-label max-sm:hidden">Quick Links</strong>
                    <button type="button" class="footer_nav_btn btn_toggle flex items-center justify-between relative w-full py-2 border-b border-variant1 text-lg font-bold uppercase sm:hidden">
                        <span>Quick Links</span>
                        <span class="ph ph-plus"></span>
                        <span class="ph ph-minus absolute top-1/2 right-0 -translate-y-1/2"></span>
                    </button>
                    <ul class="footer_nav_list flex flex-col gap-2 mt-3">
                        <li>
                            <a href="our-services.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Our Services</a>
                        </li>
                        <li>
                            <a href="our-pricing.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Pricing Plans</a>
                        </li>
                        <li>
                            <a href="our-products.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Shop</a>
                        </li>
                        <li>
                            <a href="contact.html" class="footer_nav_link has_line line_white capitalize text-variant2 hover:text-white duration-300">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_nav_area max-md:w-full">
                    <strong class="footer_nav_heading txt-label">Get a Free Estimate Today!</strong>
                    <p class="footer_nav_desc mt-3 text-variant2">Call us for a cost estimate over the phone</p>
                    <h5 class="footer_nav_contact heading5 mt-4">1-555-678-8888</h5>
                    <a href="book-appointment.html" class="btn mt-4">Request an estimate</a>
                </div>
            </div>
        </div>
        <div class="footer_bottom flex items-center justify-between max-sm:flex-col gap-2 w-full mt-5 py-4 border-t border-white border-opacity-10">
            <p class="copyright text-variant2 text-center">Copyright Â© 2024 Hadiman By <a href="" class="text-white hover:underline" target="_blank">Avitex</a>. <br class="xs:hidden">All rights reserved</p>
            <div class="footer_bottom_link flex items-center gap-2.5">
                <a class="text-variant2 hover:underline hover:text-white" href="#!">Terms Of Services</a>
                <span class="text-white opacity-10">|</span>
                <a class="text-variant2 hover:underline hover:text-white" href="#!">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
 <!-- Scroll to top -->
<a class="scroll_to_top_btn" href="#header"><span class="ph-bold ph-caret-up"></span></a>
