<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.google_analytics}}');
</script>
  <script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/phosphor-icons.js"></script>
<script src="/assets/js/scrollSmooth.min.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/countUp.min.js"></script>
<script src="/assets/js/main.js"></script>
